/ServeurWeb/ServeurWeb-ejb/target/
/ServeurWeb/ServeurWeb-web/target/
/ServeurWeb/ServeurWeb-ear/target/
/DepartementEnseignement/DepartementEnseignement-ejb/target/
/DepartementEnseignement/DepartementEnseignement-ear/target/
/DepartementEnseignement/DepartementEnseignement-web/target/

/GestionPreconv/GestionPreconv-ejb/target/
/UnivShared/target/
/ServiceJuridique/ServiceJuridique-ejb/target/
/ServiceJuridique/ServiceJuridique-web/target/
/ServiceJuridique/ServiceJuridique-ear/target/
/ServiceScolarite/ServiceScolarite-ejb/target/
/ServiceScolarite/ServiceScolarite-web/target/
/ServiceScolarite/ServiceScolarite-ear/target/